#top{
  float:left;  
  margin:0 0 10px 10%;
  width:50%;
}

#legend {
}

#legend div {
height: 15px;
}

#legend ul {
list-style: none;
margin: 0px;
padding: 0px;

}

#legend ul li{
  float:left;
  width:100px;
}


#legend label {
  width: 200px;
  float:left;
}

#container {
  margin:0 10%;
  padding:20px;
  border:2px solid #d0d0d0;
  border-radius: 5px;
  height:100%;
  clear:both;
}
.country {fill:#ccc;}


.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

#info{
  margin:10px 10%;
  background: #fff;
  border: 2px solid #ccc;
  padding:10px;
}

#map table td {
  text-align: center;
}

#map table td span {
  padding: 4px;   background-color: white;
} 

svg {
border: 1px solid gray;
}

.graphTooltip td {
text-align: left!important;
padding: 2px;
font-size: 12px;
border-bottom: 1px solid gray;
}

.bordered {
border-right: 1px solid gray;
width: 100px !important;
}